.container{
    max-width: 100%;
    margin: 0;
}

.ancho-verde{
    height: 55px;
}

.borde{
    border:solid 2px !important;
}

.container-rosa{
    background: #f999f9;
    height: 45px;
}

.container-naranja{
    background: #ca7249;
    height: 70px !important;
}

.container-azul{
    background: #180dbd;
}

.footer{
    height: 30px;
}
.rellono-contener{
    padding: 0!important;
}

@media (max-width: 575.98px) { 
    .ancho-rojo{
        height: 55px !important;
        margin-bottom: 15px;
    }
    .container-azul{
        height: 130px !important;
    }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
    .ancho-rojo{
        height: 100%;
        margin-right: 5%;
    }
    .container-azul{
        height: 100px !important;
    }
}

@media (min-width: 992px) and (max-width: 1900.98px) {
    .ancho-rojo{
        height: 100%;
        margin-right: 5%;
    }
    .container-azul{
        height: 100px !important;
    }


    .margen-8 {  
        margin-top: 8px !important;
    }
     
    
}